section#projects{
    background-color: $color2;
   //rgb(16, 22, 45);
   //background-color: #6d0f3b;
    padding-bottom: 100px;
}


section#projects h2{
    text-align: center;
}

//lets put all the skills as grid with 4 columns, you can either do grid-template-columns: 1fr 1fr 1fr 1fr or use repeat function(4 times 1 fr)
.projects-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    //we need some gap between the image and the container
    gap: 20px;

}

.project-box{
    opacity: 0;
    transition: all .4s linear;
    background-color: $color3;
    //background-color: black;
    //background-color: #630732;
    padding: 30px;
    text-align: center;
    border-radius: 10px;
    left: -20px;
    span{
        display:block;
    }
   

}

.projects-container.visible .project-box{
    opacity: 1;
    left: 0;
}

//all the images should show up one by one, so for each image we will do it
@for $i from 1 through 20
{
    .project-box:nth-child(#{$i + 1}){transition-delay: #{$i * .1s}};
}


//between the image and the text we need some space
.project-box a{
    
    img{
        display: inline-block;
    margin-bottom: 5px;
    max-width: 190px;
    transition: transformm 0.3s;

    }

    img:hover{
        transform: scale(2);
       max-width: 120px;
    
    }
}